@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #1e3452;
  font-family: "Dosis", sans-serif;
}

/* Title & Options */
.title {
  text-align: center;
  margin-bottom: 1rem;
  color: #fff;
  font-size: 4rem;
}

.options {
  display: flex;
  justify-content: center;
  align-items: end;
}

.options > div {
  margin: 0 1rem 1rem;
  padding: 1rem;
}

.options__text {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 5px;
}

.number-input {
  height: 2rem;
  display: flex;
}

input[type="number"] {
  width: 100%;
  padding: 2px 6px;
  background-color: #231c1c;
  font-size: 1.2rem;
  font-family: inherit;
  color: #fff;
  text-align: center;
  border: none;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]:focus {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* Buttons */
.decrement,
.increment {
  background-color: #231c1c;
  width: 1.6rem;
  height: 2rem;
  font-size: 1.2rem;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.increment:active,
.decrement:active {
  font-size: 12px;
}

.decrement {
  border-radius: 5px 0 0 5px;
}

.increment {
  border-radius: 0 5px 5px 0;
}

.btn {
  width: 70px;
  height: 32px;
  font-size: 1.2rem;
  font-family: inherit;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  background-color: #0bac0b;
  color: #fff;
  cursor: pointer;
}

.btn:active {
  background-color: #0a8a0a;
}

.btn.sticky {
  display: none;
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.4;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.8);
  transition: opacity 0.4s;
}

.btn.sticky:hover {
  opacity: 1;
}

/* Score */
.score-heading {
  text-align: center;
  font-size: 60px;
  color: #fff;
  display: none;
  transition: display 0.5s ease;
}

.score-heading.show {
  display: block;
}

/* Quiz */
.quiz-container {
  width: 950px;
  max-width: 85%;
  margin: auto;
}

.question-box {
  background-color: #fff;
  border-radius: 10px;
  transition: all 0.4s;
  margin-bottom: 2rem;
  padding: 16px;
  color: #333;
}

.question__title {
  font-size: 32px;
  margin-bottom: 10px;
}

.question-box.green {
  border: #0bac0b 2px solid;
}

.question-box > .answer__selection {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

div > input {
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .title {
    font-size: 2.5rem;
  }

  .options__text {
    font-size: 14px;
  }

  .btn {
    width: 50px;
    font-size: 16px;
  }

  .question__title {
    font-size: calc(2vw + 1rem);
  }

  .question-box > .answer__selection {
    font-size: 16px;
  }
}
